<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="title">Bienvenido</h2>
                    <p class="text lead fw-normal  mb-5">Selecciona el modulo</p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://images.pexels.com/photos/2882566/pexels-photo-2882566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="/login"><h5 class="card-title mb-3">Modulo Administrador</h5></a>
                        <p class="card-text mb-0">Crea nuevos usuarios, agrega vehiculos.<br> 
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://images.pexels.com/photos/11728134/pexels-photo-11728134.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="/client"><h5 class="card-title mb-3">Modulo para Clientes</h5></a>
                        <p class="card-text mb-0">Programa tu viaje, selecciona vehiculos y viaja con nostros.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Modulo en Desarrollo</h5></a>
                        <p class="card-text mb-0"> Este modulo no se ha programado :(<br><br> Estoy trabajando en este modulo, esperen plis. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>